[submodule "nrf51822/squall"]
	path = nrf51822/squall
	url = https://github.com/helena-project/squall
[submodule "nrf51822/nrf5x-base"]
	path = nrf51822/nrf5x-base
	url = https://github.com/lab11/nrf5x-base
